
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    match /users/{userId} {
      // Allows a user to create, read, and write to their own document.
      // Also allows an admin to read and write to any user document.
      allow read, write: if request.auth.uid == userId || request.auth.token.role == 'admin';
    }

    match /users/{document=**} {
      // Allows an admin to list all documents in the users collection.
      allow list: if request.auth.token.role == 'admin';
    }

    // Fallback security rule for any other collection
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
